<app-skeleton *ngIf="isLoadingSkeleton" [type]="'card'"></app-skeleton>
<p-panel
  *ngIf="!isLoadingSkeleton"
  class="p-fluid"
  collapseIcon="pi pi-times"
  [toggleable]="true"
  (collapsedChange)="back()"
>
  <ng-template pTemplate="header">
    <i *ngIf="id === ''" class="pi pi-user-plus mr-2"></i>
    <i *ngIf="id != ''" class="pi pi-user-edit mr-2"></i>
    <h2 class="panel-header">{{ panelHeader }}</h2>
  </ng-template>
  <small [innerHTML]="this.messageService.requiredFields"></small>
  <p-divider></p-divider>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!--  NAME-->
    <div class="field">
      <label
        appLabel
        for="nameFormat"
        label="Nombre:"
        [required]="nameFormatField"
      ></label>
      <input
        pInputText
        type="text"
        id="nameFormat"
        formControlName="nameFormat"
      />
      <small
        appErrorMessage
        [errors]="nameFormatField.errors"
        [touched]="nameFormatField.touched"
        [dirty]="nameFormatField.dirty"
      >
      </small>
    </div>
    
    <div class="formgrid grid">
      <!--  required -->
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="nameModality" label="Modalidad:" [required]="nameModalityField"></label>
        <p-dropdown id="nameModality"
                    formControlName="nameModality"
                    dataKey="id"
                    [options]="nameModalities"
                    optionLabel="name"
                    [filter]="true"
                    filterBy="name"
                    placeholder="Seleccionar Modalidad">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="nameModalityField.value">
              <div>{{nameModalityField.value.name}}</div>
            </div>
          </ng-template>
            <ng-template pTemplate="item" let-item>
            {{item.name}}
          </ng-template>
        </p-dropdown>
        <small appErrorMessage
               [errors]="nameModalityField.errors"
               [touched]="nameModalityField.touched"
               [dirty]="nameModalityField.dirty">
        </small>
      </div>  
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="nameCareer" label="Carrera:" [required]="nameCareerField"></label>
        <p-dropdown id="nameModality"
                    formControlName="nameCareer"
                    dataKey="id"
                    [options]="nameCareers"
                    optionLabel="career"
                    [filter]="true"
                    filterBy="career"
                    placeholder="Seleccionar Carrera">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="nameCareerField.value">
              <div>{{nameCareerField.value.career}}</div>
            </div>
          </ng-template>
            <ng-template pTemplate="item" let-item>
            {{item.career}}
          </ng-template>
        </p-dropdown>
        <small appErrorMessage
               [errors]="nameCareerField.errors"
               [touched]="nameCareerField.touched"
               [dirty]="nameCareerField.dirty">
        </small>
      </div>  
    </div>

    
    
    
    
    <!-- description -->

    <div class="formgrid grid">
      <!--  required -->
      <div class="field xl:col-12 lg:col-12 md:col-12 sm:col-12">
        <label
          appLabel
          for="requiredFormat"
          label="Requerido:"
          [required]="requiredFormatField"
        ></label>
        <p><p-inputSwitch formControlName="requiredFormat"></p-inputSwitch></p>
        <small
          appErrorMessage
          [errors]="requiredFormatField.errors"
          [touched]="requiredFormatField.touched"
          [dirty]="requiredFormatField.dirty"
        >
        </small>
      </div>
    </div>

    <!-- Subir Archivo -->
    <div class="formgrid grid">
      <div class="field xl:col-12 lg:col-12 md:col-12 sm:col-12">
        <label appLabel for="filename" label="Documento:"></label>

        <p-fileUpload
          name="myfile[]"
          [customUpload]="true"
          (uploadHandler)="myUploader($event)"
        ></p-fileUpload>
      </div>
    </div>

    <!-- Botones guardar -->
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <button
          pButton
          pRipple
          id="submit"
          type="submit"
          label="Guardar"
          icon="pi pi-save"
          [loading]="(loaded$ | async)!"
        ></button>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <button
          pButton
          pRipple
          id="btnBack"
          type="button"
          label="Cancelar"
          class="p-button-info p-button-outlined"
          icon="pi pi-arrow-left"
          [loading]="(loaded$ | async)!"
          (click)="back()"
        ></button>
      </div>
    </div>
  </form>
</p-panel>
