<app-skeleton *ngIf="isLoadingSkeleton" [type]="'card'"></app-skeleton>
<p-panel *ngIf="!isLoadingSkeleton"
         class="p-fluid"
         collapseIcon="pi pi-times"
         [toggleable]="true"
         (collapsedChange)="back(planning.id)">
  <ng-template pTemplate="header">
    <i *ngIf="id===''" class="pi pi-user-plus mr-2"></i>
    <i *ngIf="id!=''" class="pi pi-user-edit mr-2"></i>
    <h2 class="panel-header">{{panelHeader}}</h2>
  </ng-template>
  <small [innerHTML]="this.messageService.requiredFields"></small>
  <p-divider></p-divider>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <p-message severity="info" text="Convocatoria:  {{planning?.name}}"></p-message>
    </div>
    <br>
     <!--  NAME-->
     <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="nameCatalogue" label="Nombre del requerimiento:" [required]="nameCatalogueField"></label>
        <p-dropdown id="nameCatalogue"
        formControlName="nameCatalogue"
        dataKey="id"
        [options]="filteredOptions"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        placeholder="Seleccionar requerimiento">
        <ng-template pTemplate="selectedItem">
        <div *ngIf="nameCatalogueField.value">
        <div>{{nameCatalogueField.value.name}}</div>
        </div>
        </ng-template>
        <ng-template pTemplate="item" let-item>
        {{item.name}}
        </ng-template>
        </p-dropdown>
        <small appErrorMessage
              [errors]="nameCatalogueField.errors"
              [touched]="nameCatalogueField.touched"
              [dirty]="nameCatalogueField.dirty">
        </small>
      </div>

    </div>
    <div class="field">
      <label appLabel for="planning" label=""></label>
      <input pInputText type="hidden" id="planning" formControlName="planning" [(ngModel)]=" planning" required>
      <small appErrorMessage
        [errors]="planningField.errors"
        [touched]="planningField.touched"
        [dirty]="planningField.dirty">
      </small>
    </div>

   
  <!-- Botones guardar -->
<div class="formgrid grid">
  <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
    <button pButton pRipple id="btnBack" type="button"
            label="Cancelar"
            class="p-button-info p-button-outlined"
            icon="pi pi-arrow-left"
            [loading]="(loaded$|async)!"
            (click)="back(planning.id)"></button>
  </div>
  <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
    <button pButton pRipple id="submit" type="submit"
            label="Guardar"
            icon="pi pi-save"
            [loading]="(loaded$|async)!"></button>
  </div>
</div>
  </form>
</p-panel>
