<!--<p-card>-->
  <!-- <p-toolbar>
    <div class="p-toolbar-group-left">

      <button pButton type="button" label="Crear Convocatoria"
              class="p-button-success mr-2"
              icon="pi pi-plus"
              (click)="redirectCreateForm()"></button>
      <button pButton type="button" label="Refrescar"
              class="p-button-info mr-2"
              icon="pi pi-refresh"
              (click)="findAll()"></button>
      <button *ngIf="selectedTheoricals.length>0" pButton type="button" label="Borrar Convocatorias"
              class="p-button-danger"
              icon="pi pi-trash"
              (click)="removeAll()"></button>
    </div> -->
    <!-- <div class="p-toolbar-group-right">
      <div class="p-input-icon-right">
        <input type="text" pInputText [formControl]="search" placeholder="Buscar">
        <i class="pi pi-search" [ngClass]="{'pi-spin pi-spinner':(loaded$|async)}"></i>
      </div>
    </div>
  </p-toolbar> -->
  <p-paginator
    [rows]="paginator.limit"
    [totalRecords]="paginator.totalItems"
    (onPageChange)="paginate($event)"></p-paginator>
  <p-table
    dataKey="id"
    styleClass="p-datatable-gridlines"
    [value]="theoricals"
    [columns]="columns"
    [loading]="(loaded$|async)!"
    [(selection)]="selectedTheoricals"
    [responsive]="true">
    <ng-template pTemplate="caption">

      <h2 class="text-center">NOTAS EXAMÉN TEÓRICO</h2>
      <!-- <p-toolbar>
        <div class="p-toolbar-group-left">
          <div class="p-input-icon-right">
            <input type="text" pInputText [formControl]="search" placeholder="Search">
            <i class="pi pi-search mr2" [ngClass]="{'pi-spin pi-spinner':(loaded$|async)}"></i>
          </div>
        </div>
        <div class="p-toolbar-group-right">

        </div>
      </p-toolbar> -->
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th class="text-center">
          <button pButton pRipple type="button" class="p-button-help p-button-outlined p-button-rounded"
                  icon="pi pi-cog"></button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
        <td>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>

        <td *ngFor="let col of columns">
          <!--Objects-->
          <div *ngIf="rowData[col.field]?.id" [ngSwitch]="col.field">
            <div *ngSwitchCase="'name'">
              {{rowData[col.field].student.name}}
            </div>
          </div>

          <!--Fields-->
          <div *ngIf="!rowData[col.field]?.id" [ngSwitch]="col.field">
            <div *ngSwitchCase="'identificationC'">
              {{rowData['name'].student.identification_card}}
            </div>
            <div *ngSwitchDefault>{{rowData[col.field]}}</div>
          </div>
        </td>
        <td class="text-center">
          <div *ngIf="rowData['id']!==authService.auth.id; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <p-splitButton icon="pi pi-ellipsis-v"
                           [model]="actionButtons"
                           (onDropdownClick)="selectTheorical(rowData)"></p-splitButton>
          </ng-template>
          <ng-template #elseBlock>Current Planning</ng-template>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length">
          {{messageService.paginatorNoRecordsFound}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      {{messageService.paginatorTotalRegisters(paginator)}}
    </ng-template>
  </p-table>
  <!--</p-card>-->
