<div class="text-center">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <p-splitButton
        type="button"
        label="Crear Memorando"
        class="p-button-success mr-2"
        [model]="splitButtonModel"
      ></p-splitButton>
    </div>
    <div class="p-toolbar-group-right">
      <div class="p-input-icon-right">

        <head>
          <link rel="stylesheet" type="text/css" href="memorandum-home.component.scss">
        </head>
        <h1>
          <i class="pi pi-user"></i>
          {{authService.auth.name}}
        </h1>
      </div>
    </div>
  </p-toolbar>
</div>
<div class="formgrid grid">
  <div class="field xl:col-2 lg:col-2 md:col-2 sm:col-12"></div>
  <div class="field xl:col-9 lg:col-9 md:col-9 sm:col-12">
    <div class="card-responsive" class="flex align-items-center">
      <div class="flex flex-wrap gap-3">
        <!-- <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12"></div> -->
        <div class="flex align-items-center">
          <p-card
            header="Tutor Caso práctico"
            subheader="Memorando"
            [style]="{ width: '380px' }"
            styleClass="p-card-shadow"
          >
            <ng-template pTemplate="header">
              <img
                alt="Card"
                src="https://yavirac.edu.ec/img/slider/instalacion2.png"
              />
            </ng-template>
            <p>
              DESIGNACIÓN DE TUTOR ACADÉMICO DE CASO PRACTICO COMPLEXIVO
            </p>
            <ng-template pTemplate="footer">
              <p-button
                label="Ver Memorandos"
                (onClick)=" redirectTutorList()"
                icon="pi pi-eye"
              ></p-button>
              <!-- <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button> -->
            </ng-template>
          </p-card>
        </div>

        <div class="flex align-items-center">
          <p-card
            header="Aplicador Examen Teórico"
            subheader="Memorando"
            [style]="{ width: '380px' }"
            styleClass="p-card-shadow"
          >
            <ng-template pTemplate="header">
              <img
                alt="Card"
                src="https://yavirac.edu.ec/img/slider/instalacion2.png"
              />
            </ng-template>
            <p>
              DESIGNACIÓN DE APLICADOR EXAMEN TEORICO DEL COMPLEXIVO
            </p>
            <ng-template pTemplate="footer">
              <p-button
                label="Ver Memorandos"
                (onClick)="redirectExamList()"
                icon="pi pi-eye"
              ></p-button>
              <!-- <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button> -->
            </ng-template>
          </p-card>
        </div>
      </div>
    </div>
  </div>
</div>
