<!--<p-card>-->
<p-toolbar>
  <p-message severity="success" text="Convocatoria:  {{planning?.name}}"></p-message>
  <button pButton type="button" label="Refresh"
  class="p-button-info mr-2"
  icon="pi pi-refresh"
  (click)="findActive()"></button>
</p-toolbar>
<p-table
  dataKey="id"
  styleClass="p-datatable-gridlines"
  [value]="requirements"
  [columns]="columns"
  [loading]="(loaded$|async)!"
  [(selection)]="selectedRequirements"
  [tableStyle]="{'min-width': '76rem'}"
  [responsive]="true">
  <ng-template pTemplate="caption">
    <th class="text-center">
      LISTA DE REQUERIMIENTOS
      <!-- <button pButton pRipple type="button" class="p-button-help p-button-outlined p-button-rounded"
              icon="pi pi-upload"></button> -->
    </th>
</ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
      </th>
      <th class="text-center">
        Subir Archivos
        <!-- <button pButton pRipple type="button" class="p-button-help p-button-outlined p-button-rounded"
                icon="pi pi-upload"></button> -->
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
      <td>
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>

      <td *ngFor="let col of columns">

        <!--Objects-->
        <div *ngIf="rowData[col.field]?.id" [ngSwitch]="col.field">
          <div *ngSwitchCase="'nameCatalogue'">
            {{rowData[col.field].name}}
          </div>
        </div>
        <!--Fields-->
        <div *ngIf="!rowData[col.field]?.id" [ngSwitch]="col.field">
          <div *ngSwitchCase="'description'">
            {{rowData['nameCatalogue'].description}}
          </div>
        </div>
      </td>
      <td class="text-center">
        <div *ngIf="rowData['id']!==authService.auth.id; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <!-- <p-splitButton icon="pi pi-ellipsis-v"
                         [model]="actionButtons"
                         (onDropdownClick)="selectRequirement(rowData)"></p-splitButton> -->
                         <!-- <button pButton pRipple type="button" class="p-button-help p-button-outlined p-button-rounded"
                         icon="pi pi-upload"></button> -->
                         <div class="formgrid grid">
                          <div class="field xl:col-12 lg:col-12 md:col-12 sm:col-12">
                            <p-fileUpload
                              name="myfile[]"
                              mode="basic"
                              [auto]="true"
                              [customUpload]="true"
                              (uploadHandler)="myUploader($event)"
                            ></p-fileUpload>
                          </div>
                        </div>
        </ng-template>
        <ng-template #elseBlock>Desing by Ronnald Haro</ng-template>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        {{messageService.paginatorNoRecordsFound}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    {{messageService.paginatorTotalRegisters(paginator)}}
  </ng-template>
</p-table>
<p-paginator
  [rows]="paginator.limit"
  [totalRecords]="paginator.totalItems"
  (onPageChange)="paginate($event)"></p-paginator>
<!--</p-card>-->
